body {
  background-image: url('./main-bg-23-24-1920-v1.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-bottom: 8px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select {
  width: 100%;
  padding: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-right: 8px;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
p {
  color: red;
}
p.success {
  color: green;
}
select[name="pais"] {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
.form-section {
  width: 70%; /* Ajusta el ancho según tus preferencias */
  max-width: 400px; /* Ajusta el ancho máximo según tus preferencias */
  padding: 20px;
  border: 1px solid #ccc; /* Añade un borde si lo deseas */
  border-radius: 8px;
  background-color: #fff; /* Puedes ajustar el color de fondo según tus preferencias */
  position: relative;
  top: 150px;
}

